*.egg-info
*.pyc
*.swp
.doctrees
_build_rtd
_build
docs/autoapi
readthedocs_build
tests/*/autoapi
tests/dotnetexample/example/Identity/
_api_
.tox
.eggs
.ropeproject/
.cache
.pytest_cache/
build/
dist/
tests/python/pyexample/autoapi/example/index.rst
tests/python/pymovedconfpy/autoapi/example/index.rst
